<div *ngIf="!directusService.isLoggedIn()" class="text-center p-2" role="alert">
    You must be logged in to access this page. Please <a href="/sign-in">sign in</a>.
</div>

<div *ngIf="directusService.isLoggedIn()">
    <h1>Todo:</h1>
    <div class="d-flex flex-row justify-content-center gap-2">
        <div class="col-4 border border-2 border-danger rounded-3">
            <div *ngFor="let todo of incompletedTodos">
                <p (click)="todoDetails(todo)">{{todo.Title}}</p>
            </div>
        </div>
        <div class="col-4 border border-2 border-success rounded-3">
            <div *ngFor="let todo of todayTodos">
                <p (click)="todoDetails(todo)">{{todo.Title}}</p>
            </div>
        </div>
        <div class="col-4 border border-2 border-warning rounded-3">
            <div *ngFor="let todo of incomingTodos">
                <p (click)="todoDetails(todo)">{{todo.Title}}</p>
            </div>
        </div>
        
    </div>
</div>
