<div
  class="container d-flex justify-content-center align-items-center"
  style="margin-top: 150px"
>
  <div class="row shadow-lg rounded overflow-hidden" style="width: 1000px">
    <div class="col-12 col-lg-7 bg-white p-5">
      <h1 class="fw-bold mb-4">Sign in to Account</h1>
      <form [formGroup]="signIn" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            [ngClass]="{
              'border-danger':
                signIn.get('email')?.invalid &&
                (signIn.get('email')?.dirty || signIn.get('email')?.touched)
            }"
            (input)="resetError()"
          />
          <div
            *ngIf="
              signIn.get('email')?.invalid &&
              (signIn.get('email')?.dirty || signIn.get('email')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="signIn.get('email')?.errors?.['required']"
              >Email is required.</small
            >
            <small
              class="text-danger"
              *ngIf="signIn.get('email')?.errors?.['email']"
              >Email must be a valid email address.</small
            >
            <small
              class="text-danger"
              *ngIf="signIn.get('email')?.errors?.['maxlength']"
              >Email cannot be longer than 40 characters.</small
            >
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            class="form-control"
            [ngClass]="{
              'border-danger':
                signIn.get('password')?.invalid &&
                (signIn.get('password')?.dirty ||
                  signIn.get('password')?.touched)
            }"
            (input)="resetError()"
          />
          <div
            *ngIf="
              signIn.get('password')?.invalid &&
              (signIn.get('password')?.dirty || signIn.get('password')?.touched)
            "
          >
            <small
              class="text-danger"
              *ngIf="signIn.get('password')?.errors?.['required']"
              >Password is required.</small
            >
            <small
              class="text-danger"
              *ngIf="signIn.get('password')?.errors?.['maxlength']"
              >Password cannot be longer than 40 characters.</small
            >
          </div>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberMe" checked />
            <label class="form-check-label" for="rememberMe">
              Remember me
            </label>
          </div>
          <a href="#" class="text-muted">Forgot Password?</a>
        </div>
        <div *ngIf="error" class="text-danger mb-3">{{ error }}</div>
        <button
          type="submit"
          class="btn btn-success w-100"
          [disabled]="signIn.invalid"
        >
          Sign In
        </button>
      </form>
    </div>
    <div
      class="col-12 col-lg-5 bg-success text-white d-flex flex-column align-items-center justify-content-center p-5"
    >
      <h2 class="fw-bold mb-4">Welcome!</h2>
      <p class="mb-4 text-center">Fill up information and organise your tasks with us.</p>
      <a href="/sign-up" class="btn btn-outline-light fw-normal rounded-4"
        >Sign Up</a
      >
    </div>
  </div>
</div>
